# Dependencies
node_modules/

# Build output
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Next.js
next-env.d.ts

# TypeScript incremental build cache
*.tsbuildinfo
